.card {
    box-sizing: border-box;
    position: relative;
    width: 290px;    
    height: 296px; 
    margin-bottom: 50px;
    display: flex; 
    border-radius: 8px;
    align-items: center;
    align-items: center;
    justify-content: center;  
    border: 1px solid transparent;
    border-top: 2px solid rgba(132, 247, 41, 0.7);
    border-left: 2px solid rgba(132, 247, 41, 0.7);
    border-right: 2px solid rgba(21, 191, 253, 0.7);
    border-bottom: 2px solid rgba(21, 191, 253, 0.7);   
    border-image-slice: 1; 
    -webkit-clip-path:polygon(100% 0, 100% 80%, 49% 100%, 0 100%, 0 0);  
    clip-path: polygon(100% 0, 100% 80%, 49% 100%, 0 100%, 0 0);     
}

  

.card::after{
    content:"";
    position: absolute;
    height: 298px;  
    width: 290px;    
    bottom: 7.1px;    
    border-image: linear-gradient(to right,rgba(132, 247, 41, 0.7),
    rgba(21, 191, 253, 0.7));
    border-image-slice: 1;
    border-right: 1px solid transparent;
    transform: rotate(68deg); 
    transform-origin: bottom bottom ;   
  }


