.episode-card {
    box-sizing: border-box;
    position: relative;   
    margin-bottom: 50px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-top: 2px solid rgba(132, 247, 41, 0.7);
    border-left: 2px solid rgba(132, 247, 41, 0.7);
    border-right: 2px solid rgba(21, 191, 253, 0.7);
    border-bottom: 2px solid rgba(21, 191, 253, 0.7);
    border-image-slice: 3;
    
}

