.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: bold-tavels;
  src: url(../public/Fonts/TTTravels-Bold.ttf);
}
@font-face {
  font-family: regular-tavels;
  src: url(../public/Fonts/TTTravels-Regular.ttf);
}
.regular{
  font-family: regular-tavels;
}
.bold-tavels{
  font-family: bold-tavels;
  
}
@font-face {
  font-family: bold-italic;
  src: url(../public/Fonts/TTTravels-BoldItalic.ttf);
}
.bold-italic{
  font-family: bold-italic;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
